<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.xd.bean"></package>
    </typeAliases>

    <mappers>
        <!--指定mapper文件位置-->
        <mapper resource="EmpMapper.xml"></mapper>
       <!-- <package name="com.xd.mapper"></package>-->


    </mappers>

</configuration>